@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@500;700;900&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Red Hat Display', sans-serif;
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:  hsl(225, 100%, 94%);
}
.card{
    width:20rem;
    background-color: #ffffff;
    margin: 25% auto;
    box-shadow: 12px 12px 12px rgba(0,0,0,0.3);
    border-radius: 20px;
}
img{
    max-width: 100%;
    height: auto;
    border-radius: 20px;
}
