@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@500;700;900&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Red Hat Display', sans-serif;
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:  hsl(225, 100%, 94%);
}
.card{
    width:20rem;
    background-color: #ffffff;
    margin: 25% auto;
    box-shadow: 12px 12px 12px rgba(0,0,0,0.3);
    border-radius: 20px;
    }
img{
    max-width: 100%;
    height: auto;
    border-top-right-radius: 1.2rem;
    border-top-left-radius: 1.2rem;
}
/* card-text-content custom style */
.card-text-content{
    text-align: center;
    line-height: 1.7rem;
}
.card-title{
    font-weight: 900;
    text-transform: capitalize;
    padding: 1.5rem;
    color:  hsl(223, 47%, 23%);
}
.card-content{
    font-weight: 500;
    color:  hsl(224, 23%, 55%);
    font-size: 0.9rem;
}

card-btn{
    width: 100%;
    
}
button{
     /* here we given 80% width it wont work if we didnt give an 100% width to it parent 
    element  */
    display: block;
    width:80%;
    border-radius: 0.8rem;
    padding: 0.8rem 0rem;
    background-color:  hsl(245, 75%, 52%);
    border: 0.1rem solid hsl(245, 75%, 52%);
    color: hsl(225, 100%, 98%);
    text-transform: capitalize;
    font-weight: 900;
    margin: 2% auto;
    box-shadow: 12px 12px 12px rgba(0,0,0,0.3);
    
}
.card-link{
    text-align: center;
    margin: 1.5rem 0rem;
}

.link{
   text-decoration: none;
   text-transform: capitalize;
   color: hsl(224, 23%, 55%);
   font-weight: 700;
}
.card-pay-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    text-align: center;
     background-color: hsl(225, 100%, 98%);
    align-items: center;
    opacity:1;
    padding: 1rem;
    margin: 1rem;
    border-radius: 12px;
    
}
.text-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 1rem;
    
}
.pay{
    text-align: center;
    text-transform: capitalize;
}
.pay-text{
    font-weight: 700;
}
